html, body {
    height: 100%;
    margin: 0;
    background-color: #d9d9d9;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
}

.loading {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: none;
}

.loading .mask {
    position: absolute;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background-color: #444444;
    opacity: 0.5;
}

.loading .animation {
    width: 320px;
    height: 40px;
    z-index: 9999;
    margin: auto;
    background-color: white;
    text-align: center;
    align-items: center;
    padding-top: 6px;
    opacity: 1;
    border-radius: 10px;
    border: dimgray;
    border-style: outset;
}

.container {
    height: 100%;
}

.container.row {
    height: 100%;
}

.content {
    display: block;
    height: 100%;
    padding: 20px;
}


.note {
    border: #444444 solid 1px;
    border-radius: 5px;
    width: 100%;
    min-height: 120px;
    display: inline-block;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

div.name_area {
    width: 99%;
    margin: 10px;
    padding-right: 10px;
    border-bottom: #b9b9b9 solid 1px;
}
div.message_area {
    margin: 5px;
    padding-left: 20px;
}
div.operation_area {
    margin: 5px;
    min-height: 32px;
    padding-left: 20px;
    padding-right: 10px;
}

#clearBtn {
    min-width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#postBtn {
    min-width: 80px;
    margin-left: 20px;
}

.input_note {
    border-radius: 5px;
    width: 100%;
    min-height: 120px;
    display: inline-block;
    align-items: center;
    margin: auto;
    background-color: white;
}

input {
    outline: 0;
}
textarea {
    outline: 0;
}

input:focus {
    outline: none !important;
    border:0px;
    box-shadow: 0 0 0px #719ECE;
}
textarea:focus {
    outline: none !important;
    border:0px;
    box-shadow: 0 0 0px #719ECE;
}

input#input_name {
    border: 0px;
    border-bottom: 1px;
    width: 50%;
}

textarea#input_message {
    border: 0px;
}

span.name {
    font-weight: bold;
    font-size: 12pt;
    margin-left: 5px;
}

.end-of-messages {
    margin: 20px;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}