<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;

        function myFunction() {
            socket = io("ws://127.0.0.1:5000/guestbook")
            socket.on('connect', () => {
                document.getElementById("conn_status").style.display="flex";
                socket.emit('init', {});
            });

            socket.on('system_event', (evt) => {
                console.log(evt)
                // append message to webpage when receive from server
                var para = document.createElement("p");
                para.style.display="flex";
                para.innerHTML=">"+ evt.data
                document.getElementById("chat").appendChild(para);
            })

            /*
       ws.onopen = function() {
           // open websocket and display socket connected state
           document.getElementById("conn_status").style.display="flex";
           ws.send("connect");
       };

       ws.onclose = function(evt) {
           // disable socekt connected state went socket closed
           document.getElementById("conn_status").style.display="none";
       };

       ws.onmessage = function(evt) {
           // append message to webpage when receive from server
           var para = document.createElement("p");
           para.style.display="flex";
           para.innerHTML=">"+evt.data
           document.getElementById("chat").appendChild(para);
       };
       */
}

function sendText(text) {
    if (socket) {
        socket.emit('my_event', {data: text})
    }
}
</script>
<style>
.dot {
  height: 25px;
  width: 25px;
  background-color: #00FF00;
  border-radius: 50%;
  display: inline-block;
}
</style>
</head>

<body>
    <h1>這是一個與機器人聊天的網站</h1>
    <p id="demo">跟聊天機器人溝通可以獲得你想要的資訊</p>
    <div id="conn_status" style="display: none;">
        <span class="dot"></span>
        <p>已連線</p>
    </div>

    <button type="button" onclick="myFunction()">點我聊天</button>
    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit" onclick="sendText(document.getElementById('lname').value)">

    <div id="chat" style=""></div>

</body>
</html>